<div class="container">
    <h1 style="color: rgb(248, 146, 21);">Posts</h1>
<input type="hidden" id="currentUserId" value="{{currentUser._id}}">
<form id="post-form">
  <div style="margin:40px; flex-direction: row; display: flex; align-content:space-around">
    <input id="post-input" type="text" class="form-control" style="margin: 5px;" placeholder="What's on your mind? ...">
    <button class="btn btn-outline-warning" style="margin: 5px;" type="submit">Share</button>
  </div>   
</form>

 <div id="posts"></div>  

</div>